[Unit]
Description=easynode client server

[Service]
Environment="clientPort=22022"
ExecStart=/root/local/easynode-client/easynode-client
WorkingDirectory=/root/local/easynode-client
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
