node_modules
!.gitkeep
dist
easynode-server.zip
server/app/static/*
server/app/socket/sftp-cache/*
!server/app/socket/sftp-cache/.gitkeep
server/app/logs/*
server/app/db/*
!server/app/db/README.md
plan.md
.env
.env.local
.env-encrypt-key
*clear.js
local-script
版本发布.md
