// 滚动条
html, body, div, ul, section, textarea {
  box-sizing: border-box;
  // 滚动条整体部分
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: #ffffff;
  }

  // 底层轨道
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 3px;
  }

  // 滚动滑块
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    // background-color: #1989fa;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#a18cd1), to(#fbc2eb), color-stop(.6, #54DE5D));
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #067ef7;
  }
}


// 全局背景
body {
  // background-position: center center;
  // background-attachment: fixed;
  // background-size: cover;
  // background-repeat: no-repeat;
  // // background-image: url(../bg.jpg), linear-gradient(to bottom, #010179, #F5C4C1, #151799);
  background-color: #E7EBF4;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 58%;
}

.link {
  color: var(--el-color-primary);
  cursor: pointer;
}
