// $--colors: (
//   "primary": (
//     "base": #589ef8,
//   ),
// );

// @forward "element-plus/theme-chalk/src/dark/var.scss" with (
//   $colors: $--colors
// );
/** element内置黑暗主题 */
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

/** 自定义黑暗主题 */
html.dark {
  // * admin
  --bg-color: #000;
  --main-bg-color: #181818;
  --v-border-light: 1px solid #4c4c4d;

  body {
    background-color: var(--bg-color) !important;
  }

  .login_container {
    // background: rgba(171, 181, 196, 0.3);
    .login_box {
      background-color: var(--main-bg-color) !important;
    }
  }

  .top_bar_container {
    background-color: var(--main-bg-color) !important;
  }

  .router_box {
    background-color: var(--main-bg-color) !important;
  }

  .aside_container {
    background-color: var(--main-bg-color) !important;
  }

  .terminal_top {
    border-bottom: 1px solid #454242;
  }
  .sftp_tab_container {
    background-color: var(--main-bg-color) !important;
    .dir-list {
      .active {
        background-color: #454242 !important;
      }
      li:hover {
        background-color: #454242 !important;
      }
    }
    section {
      .left {
        border: none !important;
      }
    }
  }
  .info_box {
    border-right: 1px solid #454242;
    .el-progress-bar__innerText {
      span {
        color: #fff !important;
      }
    }
  }

  // scroll-bar
  ::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 10px;
    transition: all .2s ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #6d6d6d;
  }

  .el-menu {
    border-right: none;
  }
  .el-menu-item:not(.is-active):hover {
    color: var(--el-menu-active-color);
  }
}
